.no-border {
  border: none;
}

.myInput {
  font-family: 'Roboto Mono';
  color: #fff;
}

.myInput::placeholder {
  font-family: 'Roboto Mono';
  color: #fff;
}

.bg-trans {
  background: transparent;
}

.icon {
  filter: brightness(0) invert(1);
}

.icon-move {
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
}

.button-move {
  top: 50%;
  left: 80%;
  transform: translate(0, -50%);
  color: rgb(0, 0, 0);
}
