@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Fruktur', 'Raleway', sans-serif;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 19px;
  }
}

@media only screen and (max-width: 420px) {
  html {
    font-size: 13px;
  }
}
